.welcomeScreen {
    align-self: center;
    justify-content: space-between
}

.handScreen{
    align-self: center;
    justify-content: space-between
}

.potionScreen {
    align-self: center;
    justify-content: space-between
}

.finaleScreen {
    align-self: center;
    justify-content: space-between
}